@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Short+Stack&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
}


#myCanvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    background-color: #f9ffc0 !important;
}


html, body {
    height: 100%;
    font-family: "Host Grotesk", sans-serif;
}

main.display-flex {
    display: flex;
    width: 100%;
    height: 100%;

}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 50%;
    height: 90%;
    margin:  5%;

}

.right {

    text-align: right;
}
.left {

    text-align: left;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #000000;
    cursor: crosshair;
    text-decoration: none;
    border-radius: 0.5em;
    border-bottom: 3px dashed #79e882cf; 
    cursor: crosshair;
}



.divTop {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    width: 100%;
    padding: 0;
}


.divBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1; 
    margin-bottom:  10%;
}

.landing p{
    font-size: 18px;
}

/* Shaking!

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

a.shake {
    animation: shake 5s ease-in-out 2s infinite; 
} */
